//Colors
$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-bg-body: #e1d4c9;
$color-bg-container: #665f55;
$color-bg-backdrop: rgba(65, 64, 62, 0.8);
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

//Screen width
$content-width: 1439px;  
// $intermediate-width: 1260px;
// $large-tablet-width: 1025px;
$tablet-width: 1279px;
