.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
}
.logo {
  display: block;
  width: 100px;
  height: 60px;
  color: transparent;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header__nav {
  display: flex;
  column-gap: 40px;
}
.header__nav-item {
  @extend %underlineAnimationDark;
}
.header__nav-link {
  @include font-inter($font-size: 1.6rem, $font-weight: 600);
}
.header__menu {
  @include font-inter($font-size: 1.6rem, $font-weight: 600);

  display: flex;
  padding: 0;
  column-gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &_inactive {
    @extend %underlineAnimationDark;
  }

  &_select {
    @extend %underlineDark;
  }
}
// .header__menu-text {
//   @include font-inter($font-size: 1.6rem, $font-weight: 600);

//   padding: 0;
//   background-color: transparent;
//   border: none;
//   cursor: inherit;
// }
