//home

.enjoy__btn {
  @include font-inter(
    $font-size: 1.6rem,
    $font-weight: 600,
    $line-height: 2.4rem
  );

  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 20px 79px;
  background-color: $color-bg-body;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  &-text {
    @include media-hover {
      .enjoy__btn:hover & {
        transform: translateX(-13px);
      }
    }

    transition: transform 0.3s linear;

    @include media-tablet {
      transform: translateX(-13px);
    }
  }
}
