.cup {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/coffee-cup.svg');
  transform: translateY(-3px);

  &_enjoy {
    @include media-hover {
      .enjoy__btn:hover & {
        opacity: 1;
      }
    }

    position: absolute;
    right: 63px;
    opacity: 0;
    transition: opacity 0.2s linear;

    @include media-tablet {
      opacity: 1;
    }
  }
}
