// enjoy

.enjoy {
  padding: 101px 730px 101px 100px;
  background-image: url('../img/Home/enjoy_bg.jfif');
  background-position: center center;
  background-size: cover;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: $content-width) {
    padding-right: 580px;
  }

  @include media-large-tablet {
    padding: 100px 60px;
  }

  @include media-mobile {
    padding: 60px 16px;
  }
}
.enjoy__title {
  margin-bottom: 40px;
}
.enjoy__dicription {
  @include font-inter(
    $font-size: 16px,
    $color: $color-border-light,
    $line-height: 150%
  );

  margin-bottom: 40px;
}

.enjoy__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

//favourites-coffee

.favourites-coffee {
  padding-top: 100px;
}
.favourites-coffee__title {
  margin-bottom: 40px;
  text-align: center;
}

//about

.about {
  padding-top: 100px;
}
.about__title {
  margin-bottom: 40px;
}
.about__grid-container {
  display: grid;
  grid-template-rows: 430px 40px 120px 40px 430px;
  column-gap: 40px;

  @include media-tablet {
    grid-template-rows: 590px 590px;
    grid-auto-flow: column;
    max-width: 688px;
    margin: 0 auto;
    row-gap: 40px;
    column-gap: normal;
  }
}
.about__img-container {
  overflow: hidden;
  border-radius: 20px;

  &:nth-child(1) {
    grid-row: 1/4;
  }
  &:nth-child(2) {
    grid-row: 5/6;

    @include media-tablet {
      display: none;
    }
  }
  &:nth-child(3) {
    grid-row: 1/2;

    @include media-tablet {
      display: none;
    }
  }
  &:nth-child(4) {
    grid-row: 3/6;
  }

  @include media-tablet {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        grid-row: auto;
      }
    }
  }
}

.about__img {
  $img-path: '../img/Home/about-';

  @include transition(transform);

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: scale(1.1);

  @for $i from 1 through 4 {
    @include media-hover {
      .about__img-container:nth-child(#{$i}):hover & {
        transform: scale(1);
      }
    }
    .about__img-container:nth-child(#{$i}) & {
      background-image: url('#{$img-path}#{$i}.jpg');
    }
  }

  @include media-tablet {
    transform: scale(1.05);
  }

  @include media-mobile {
    background-size: cover;
    transform: scale(1.23);
  }
}

//mobile-apps

.mobile-app {
  display: flex;
  align-items: center;
  padding: 100px 0;
  column-gap: 100px;

  @include media-large-tablet {
    flex-direction: column;
    row-gap: 100px;
  }

  @include media-mobile {
    row-gap: 40px;
  }
}
.mobile-app__content {
}
.mobile-app__title {
  margin-bottom: 40px;
}
.mobile-app__discription {
  @include font-inter(
    $font-size: 16px,
    $color: $color-text-dark,
    $line-height: 150%
  );

  margin-bottom: 40px;
}
.mobile-app__btn {
  @include transition(background-image, background-color);

  width: 200px;
  padding: 15px 0 15px 64px;
  text-align: start;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  border: 1px solid $color-border-dark;
  border-radius: 32px;
  cursor: pointer;

  &_iphone {
    @include media-hover {
      &:hover {
        background-color: $color-bg-container;
        background-image: url('../img/Home/mobile-app-apple-hover.svg');
      }
    }

    margin-right: 18px;
    background-image: url('../img/Home/mobile-app-apple.svg');

    @include media-mobile {
      margin-bottom: 18px;
    }
  }

  &_android {
    @include media-hover {
      &:hover {
        background-color: $color-bg-container;
        background-image: url('../img/Home/mobile-app-android-hover.svg');
      }
    }

    background-image: url('../img/Home/mobile-app-android.svg');
  }
}
.mobile-app__btn-line-first {
  @include transition(color);
  @include media-hover {
    .mobile-app__btn:hover & {
      color: $color-text-light;
    }
  }

  display: block;
  margin-bottom: 4px;
}
.mobile-app__btn-line-second {
  @include font-inter($font-size: 16px, $font-weight: 600);
  @include transition(color);
  @include media-hover {
    .mobile-app__btn:hover & {
      color: $color-text-light;
    }
  }

  display: block;
}
.mobile-app-img {
  @include media-mobile {
    max-width: 348px;
  }
}
